.wrapper {
min-height: 90vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.start__btn {
width: 200px;
height: 35px;
margin-top: 30px;
cursor: pointer;
color: whitesmoke;
outline: none;
background: black;
border: 1px solid gray;
}

.start__btn:hover {
    background: yellow;
    color: black;
    transition: .3s all ease;
}

.game__info {
    margin-bottom: 25px;
    font-size: 20px;
    color: black;
}