.header {
    background-color: whitesmoke;
    height: 20vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction:column;
    gap: 7px;
    align-items: center;
    color: darkslateblue;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Orbitron', sans-serif;
}

