.App-main {
  background-color: darkslateblue;
  height: 85vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

