.App-header {
  background-color: whitesmoke;
  min-height: 10vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  color: black;
  }

.App-main {
  background-color: slategray;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  }

.title {
  color: blue;
  font-size: calc(10px + 2vmin);
  margin-left: 950px;
  font-weight: bold;
  
}


