.form {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    max-width: 150px;
    height: 20px;
    margin: 10px;
}

.error {
    font-size: 10px;
    color: blue;
 }